$color__gris__1: rgba(157, 169, 171, 0.9);
$color__gris__2: rgba(157, 169, 171, 0.2);
$color__gris__3: rgba(157, 169, 171, 0.3);
$color__gris__4: rgba(157, 169, 171, 0.1);
$color__claro__1: whitesmoke;
$color__claro__2: darkgrey;
$color__oscuro__1: #323232;
$color__verde__1: rgba(54, 170, 15, 0.8);
$color__verde__2: rgba(148, 208, 167, 0.701);
$color__verde__3: rgb(54, 170, 15);
$color__verde__4: rgba(54, 170, 15, 0.2);