@import "colores";

/*elementos*/

*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
    font-family: "Roboto", Arial, sans-serif;
        main{
            margin-bottom: 80px;
        }
        footer{
            background-color:  $color__gris__1;
            text-align: center;
            padding: 15px 30px 40px;
            position: fixed;
            bottom: 0;
            height: 30px;
            width: 100%;
            box-sizing: content-box;
                i{
                    padding: 0 5px 10px;
                    font-size: 1.8rem;
                }
                p{margin-bottom: 0;
                }
        }
        body{
            background-color: $color__gris__2;
        }
}

/* Clases */

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient($color__gris__1, $color__gris__3);    
        li{
            display: inline-block;
            padding: 10px;
        }
        .header__logo{
            height: 80px;
            padding-bottom: 5px;
        }
        .header__nav{
            display: flex;
            flex-direction: column;
                ul{
                    display: none;
                    margin-bottom: 0;
                        &.show{
                            display: flex;
                            text-decoration: none;
                            list-style-type: none;
                            font-size: 18px;
                            flex-wrap: wrap;
                        }
                }
                a{
                    border-radius: 5px;
                    padding: 5px;
                    text-decoration: none;
                    color: $color__oscuro__1;
                    font-weight: 600;
                        &:hover{
                        color: $color__claro__1;
                        background-color:$color__claro__2;
                        }   
                    }
                }
            .header__nav__icono{
                font-size: 20px;
                color: $color__oscuro__1;
                align-self: center;
                justify-self: center;
                font-size: 30px;
                cursor: pointer;
            }
}

.titulo{
    margin: 20px 0 0 0;    
    color:$color__verde__1;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    top:79px;
    background-color: $color__claro__1;
    padding: 10px 0;
}

.subtitulo{
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
        p{
            width: 200px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
        }
        .container__section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 10px;
                .container__section:hover{
                    scale: 1.1;
                    transition: .2s;
                }
        }
            .container__section__foto{
                width: 250px;
                height: 150px;
                margin: 10px 10px 0px;
                box-shadow: 0px 0px 20px 10px $color__verde__2;
            }
}

.quienesSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
        .quienesSomos__grid{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: 100%;
            padding: 20px 0;
            .persona2{
                background-color: $color__gris__1;
            }
            .quienesSomos__foto{
                height: 20rem;
                padding: 20px;
                    &:hover{
                        transform: rotateY(360deg);
                        transition: 1s;
                    }
            }
            .quienesSomos__texto{
                width: 60%;
                height: 50%;
                color: $color__oscuro__1;
            }
            .quienesSomos__nombre{
                grid-area: nombre;
                align-self: center;
                font-weight: 600;
                color: $color__oscuro__1;
            }
        }
}

.container__servicios{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
        .container__servicios__descripcion{
            display: flex;
            flex-direction: column;
            color:$color__oscuro__1;
            width: 80%;
            align-items: center;
            padding: 10px;
            flex-wrap: wrap;
                & p{
                    margin-top: 20px;
                    font-size: 1rem;
                }
                .container__servicios__titulo{
                    font-weight: 700;
                }
        }
        .container__servicios__foto{
            max-width: 400px;
            max-height: 200px;
            margin-bottom: 20px;
            padding-top: 20px;
        } 
}

.container__serviciosVerde{
    @extend .container__servicios; 
    background-color: $color__verde__4;
        .container__servicios__descripcion{
        display: flex;
        flex-direction: column;
        color:$color__oscuro__1;
        width: 80%;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
            & p{
                margin-top: 20px;
                font-size: 1rem;
            }
            .container__servicios__titulo{
                font-weight: 700;
            }
    }
    .container__servicios__foto{
        max-width: 400px;
        max-height: 200px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
}


.carousel__contenedor{
    display: flex;
    justify-content: center;
    .slide {
        padding: 50px 0;
        max-width: 900px;
    }
}

.galeria__parrafo{
    font-size: 1.7rem;
    text-align: center;
    margin: 50px 0;
}

#formulario__contacto{
    margin: 15px;
        #formulario__contacto__boton{
            background-color: $color__verde__1;
            border: none;
                &:hover{
                    background-color: $color__verde__3;
                }
                &:active:focus{
                    background-color: $color__verde__1;
                }
        }  
}

@media (min-width: 576px){

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
            .header__logo{
                padding: 0;
            }
            .header__nav{
                display: flex;
                flex-direction: row;
                text-decoration: none;
                list-style-type: none;
                padding-right: 20px;
                font-size: 18px;
                flex-wrap: wrap;
                    ul{
                        display: inline-block   ;
                        flex-direction: row;
                        text-decoration: none;
                        list-style-type: none;
                        font-size: 18px;
                }
                .header__nav__icono{
                    display: none;
                    }
            }
    }

    .container{
        display: flex; 
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;
            p{
                width: 300px;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                margin-top: 20px;
            }
            .container__section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 20px;
                    &:hover{
                        scale: 1.1;
                        transition: .2s;
                    }
                .container__section__foto{
                    width: 350px;
                    height: 250px;
                    margin: 20px 10px 0px;
                    box-shadow: 0px 0px 20px 10px $color__verde__2;
                }
            }
    }
            
    .quienesSomos{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-areas: 
            "persona1 persona2";
        margin-top: 60px;
            .quienesSomos__grid{
                display: grid;
                height: 550px;
                grid-template-areas: 
                    "texto ."
                    "texto foto"
                    ". foto"
                    ". nombre";
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 5px;
                align-items: center;
                    .quienesSomos__foto{
                        height: 25rem;
                        grid-area: foto;
                        align-self: flex-end;
                        justify-content: center;
                    }
                    
                    .quienesSomos__texto{
                        grid-area: texto;
                        width: 60%;
                        height: 50%;
                        align-self: flex-start;
                        justify-self: flex-end;
                        font-weight: 600;
                        color: $color__oscuro__1;
                    }
                    
                    .quienesSomos__nombre{
                        grid-area: nombre;
                        align-self: center;
                        font-weight: 600;
                        color: $color__oscuro__1;
                    }
            }
            .persona1{
                grid-area: persona1;
            }
                        .persona2{
                grid-area: persona2;
                background-color: $color__gris__4;
            }
        
    }
    
    .container__servicios{
        display: grid;
        grid-template-areas: 
            "servicios__foto servicios__descripcion";
        align-items: center;
        justify-items: center;
            .container__servicios__descripcion{
                grid-area: servicios__descripcion;
                padding: 0;
                    & p{
                        margin-top: 20px;
                        font-size: 1.3rem;
                        }
            }
            .container__servicios__foto{
                max-width: 800px;
                max-height: 700px;
                width: 100%;
                height: 100%;
                grid-area: servicios__foto;
                }
    }

    .container__serviciosVerde{
        display: grid;
        grid-template-areas: 
            "servicios__descripcion servicios__foto";
                .container__servicios__descripcion{
                    grid-area: servicios__descripcion;
                    padding: 0;
                        & p{
                            margin-top: 20px;
                            font-size: 1.3rem;
                            }
                }
                .container__servicios__foto{
                    max-width: 800px;
                    max-height: 700px;
                    width: 100%;
                    height: 100%;
                    grid-area: servicios__foto;
                    }
    }
    
    .galeria__parrafo{
        margin: 0px;
    }
    
}





